
body {
    background: linear-gradient(to right, rgb(70, 70, 202), rgb(211, 200, 105));
}

#ex5{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
}

.Gengar{
    align-self: flex-end;
    height: 0px;
}