
body {
    background: linear-gradient(to right, rgb(70, 70, 202), rgb(211, 200, 105));
}

#ex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 16px;
}
#ex02 .Chamender,#ex02 .Bulbasaur,#ex02 .Squirtle{
    border-radius: 8px;
    padding: 16px;
    flex: 1;
    height: 300px;
}